<h1>This is the users edit page</h1>

<%= @user.username %>

<%= form_with model: @user do |form| %>

  <% if @user.errors.any? %>
    <h3> <%= pluralize(@user.errors.count, "error") %> prohibited the user from being updated</h3>
    <% @user.errors.full_messages.each do |error| %>
      <ul><%= error %></ul>
    <% end %>
    <br>
  <% end %>

  <%= form.label :username, 'Username: ' %>
  <%= form.text_field :username, placeholder: 'Enter your username here' %>
  <br>
  <%= form.label :email, 'email: ' %>
  <%= form.email_field :email, placeholder: 'Enter your email here' %>
  <br>
  <%= form.label :password, 'Password: ' %>
  <%= form.password_field :password, placeholder: 'Enter your password here' %>
  <br>
  <%= form.submit 'Submit' %>
<% end %>
